# This is Git's per-user configuration file.
#[user]
# Please adapt and uncomment the following lines:
#	name = Julien
#	email = julien@MacBook-Pro.local
[user]
	name = Julien Song
	email = songjn@qq.com
[core]
	editor = emacs
[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
	pager = true
[color "branch"]
       current = yellow reverse
       local = yellow
       remote = green
[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold
[color "status"]
       added = green
       changed = red
       untracked = cyan
[alias]
	co = checkout
	br = branch
	st = status
	df = diff
	ci = commit
	last = log -1 HEAD
